
<div class="example-container">
<mat-card class="form-container">
    
        <mat-form-field>
          <input matInput placeholder="Title">
        </mat-form-field>
      
        <mat-form-field>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option *ngFor="let type of paternTypes" value="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary">Primary</button>
</mat-card>
</div>

